html {
    font-size: 14px;
    background-color: #8B0000;
}

@media (min-width: 900px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
    background-color: #8B0000;
}

.shang {
    width: 100px;
    height: auto;
    border-radius:0px;
    margin-left: 0px;
}

.nav-link {
    color: #8B0000;
}

.text-center {
    color: #8B0000;
}



Title {
    color: gold;
}



.navbar {
    border-width: 10px;
}

* {
    background-color: #FFE600;
}

text {
    color: #000000;
}

.form-group {
    text-align: center;
    width: auto;
    height: auto;
    color: #000000;
}

.text-user {
    color: #8B0000;
}

.dl-horizontal {
    margin-left: auto;
    margin-left: auto;
}

.text-top {
    margin-top: 120px;
}

.col-md-10 {
    width: 50%;
    height: 50x;
    margin: auto;
    text-align: center;
}

.box-align {
    color: white;
}


.btn-default {
    border-width: 6px;
    background-color:white;
    border-radius: 15px;
    border-color: #000000;
}

.logue {
    width: 50%;
    height: auto;
    margin-left: 280px;
}
